<a href="https://colab.research.google.com/github/manthilaw/Python-Projects/blob/main/3_2_Data_Manipulation_with_pandas_Aggregating_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3.2 Aggregating DataFrames

In this chapter, youâ€™ll calculate summary statistics on DataFrame columns, and master grouped summary statistics and pivot tables.

In [ ]:
# Mount Google Drive to Collaboratory

from google.colab import drive
drive.mount('/content/gdrive')


# Mount Google Drive to Collaboratory

path = ('/content/gdrive/MyDrive/DataCamp CSV/3.Data Manipulations with Pandas/sales_subset.csv')

# Import Pandas

import pandas as pd

# Read CSV file

sales = pd.read_csv(path)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

## 3.2.1 Mean and median

Summary statistics are exactly what they sound like - they summarize many numbers in one statistic. For example, mean, median, minimum, maximum, and standard deviation are summary statistics. Calculating summary statistics allows you to get a better sense of your data, even if there's a lot of it.

sales is available and pandas is loaded as pd.

* Explore your new DataFrame first by printing the first few rows of the sales DataFrame.
* Print information about the columns in sales.
* Print the mean of the weekly_sales column.
* Print the median of the weekly_sales column.

In [ ]:
# Print the head of the sales DataFrame
print(sales.head())

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           1  2010-03-05      21827.90       False
2           2      1    A           1  2010-04-02      57258.43       False
3           3      1    A           1  2010-05-07      17413.94       False
4           4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

In [ ]:
# Print the info about the sales DataFrame
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB
None

In [ ]:
# Print the mean of weekly_sales
print(sales["weekly_sales"].mean())

23843.95014850566

In [1]:
# Print the median of weekly_sales
print(sales["weekly_sales"].median())

NameError: ignored