<a href="https://colab.research.google.com/github/manthilaw/Python-Projects/blob/main/Project_Practice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#import pandas
import pandas as pd
#import matplotlib
import matplotlib.pyplot as plt
# Display plots inline, directly below the code cell that generated them
%matplotlib inline
# Change the figure format & plot style 
%config inlineBackend.figure_format = 'svg'
plt.style.use('fivethirtyeight')
# Read 2017 CSV file
current = pd.read_csv('/content/drive/MyDrive/Python CSV/1.Exploring the Bitcoin Cryptocurrency Market/coinmarketcap_06122017.csv')
current.head()

,Unnamed: 0,24h_volume_usd,available_supply,id,last_updated,market_cap_usd,max_supply,name,percent_change_1h,percent_change_24h,percent_change_7d,price_btc,price_usd,rank,symbol,total_supply
0,0,9.007640e+09,1.672352e+07,bitcoin,1512549554,2.130493e+11,2.100000e+07,Bitcoin,0.12,7.33,17.45,1.000000,12739.500000,1,BTC,1.672352e+07
1,1,1.551330e+09,9.616537e+07,ethereum,1512549553,4.352945e+10,NaN,Ethereum,-0.18,-3.93,-7.33,0.036177,452.652000,2,ETH,9.616537e+07
2,2,1.111350e+09,1.684044e+07,bitcoin-cash,1512549578,2.529585e+10,2.100000e+07,Bitcoin Cash,1.65,-5.51,-4.75,0.120050,1502.090000,3,BCH,1.684044e+07
3,3,2.936090e+09,2.779530e+09,iota,1512549571,1.475225e+10,2.779530e+09,IOTA,-2.38,83.35,255.82,0.000424,5.307460,4,MIOTA,2.779530e+09
4,4,2.315050e+08,3.873915e+10,ripple,1512549541,9.365343e+09,1.000000e+11,Ripple,0.56,-3.70,-14.79,0.000019,0.241754,5,XRP,9.999309e+10

In [10]:
#Sekect_id and market_cap_usd column
market_cap_col = current[['id','market_cap_usd']]
#count the values
count_values = market_cap_col.count()
print(count_values)

id                1326
market_cap_usd    1031
dtype: int64

In [14]:
# Check the null values in market_cap_usd 
check_null_values = market_cap_col[market_cap_col['market_cap_usd'].isnull()]
print(check_null_values.head())

                   id  market_cap_usd
1031          atmcoin             NaN
1032       cybermiles             NaN
1033  bitcoin-diamond             NaN
1034      electroneum             NaN
1035          poly-ai             NaN

In [16]:
# Selecting only those rows where the 'market_cap_usd' column has a value greater than zero
capital = market_cap_col.query('market_cap_usd>0')

In [20]:
# Selecting the 10 largest cryptocurrencis
capital_10 = market_cap_col.sort_values('market_cap_usd',ascending=False)
print(capital.head(10))

             id  market_cap_usd
0       bitcoin    2.130493e+11
1      ethereum    4.352945e+10
2  bitcoin-cash    2.529585e+10
3          iota    1.475225e+10
4        ripple    9.365343e+09
5          dash    5.794076e+09
6      litecoin    5.634498e+09
7  bitcoin-gold    4.920065e+09
8        monero    4.331688e+09
9       cardano    3.231420e+09

In [25]:
# Calculate the total market capitalization
total_capital_10 = capital_10['market_cap_usd'].sum()
capital_10['pre_capital_10'] = (capital_10['market_cap_usd']/total_capital_10)*100
print(capital_10)

                     id  market_cap_usd  pre_capital_10
0               bitcoin    2.130493e+11       56.918669
1              ethereum    4.352945e+10       11.629410
2          bitcoin-cash    2.529585e+10        6.758088
3                  iota    1.475225e+10        3.941238
4                ripple    9.365343e+09        2.502063
...                 ...             ...             ...
1321          turbocoin             NaN             NaN
1322              birds             NaN             NaN
1323  bitcoincashscrypt             NaN             NaN
1324          swisscoin             NaN             NaN
1325          faceblock             NaN             NaN

[1326 rows x 3 columns]