<a href="https://colab.research.google.com/github/manthilaw/Python-Projects/blob/main/Python_Exercises_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Variables in Python

1.Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

In [1]:
break = 5

SyntaxError: ignored

2.Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [3]:
birth_year = 1994
current_year = 2023
age = current_year - birth_year
print(age)

29

3.Store your first, middle and last name in three different variables and then print your full name using these variables

In [5]:
first_name = 'Manthila'
last_name = ' Weerasinghe'
name = first_name + last_name
print(name)

Manthila Weerasinghe

# 2. Numbers in python

2.1 You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [6]:
length = 92
wide = 48.8
area = length*wide
print(area)

4489.599999999999

2.2 You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [7]:
num_pack = 9
pack_cost = 1.49
total_cost = num_pack * pack_cost
paid_amount = 20
balance_amount = paid_amount - total_cost
print(balance_amount)

6.59

2.3 You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python

In [8]:
area = 5.5**2
total_cost = 500*area
print(total_cost)

15125.0

2.4 Print binary representation of number 17

In [9]:
bin(17)

'0b10001'